<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="onSendTestClick()">Display Test</ion-button>
        <ion-button (click)="onClearScreenClick()" color="danger">Clear Display</ion-button>
        <ion-button (click)="sendTurn()">Turn Test</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="gameState === 'setup'">
    <ion-grid class="setup">
      <ion-row>
        <ion-col>
          <h1>Setup</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Player Count:
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success">Start</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>