<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <comp-system-control>

  </comp-system-control>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{ gameState }}</h1>
      </ion-col>
      <ion-col *ngIf="error">
        {{ error }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="gameState === 'Setup'">
    <ion-grid>
      <ion-row>
        <ion-col> Player Count: {{ totalUsers }} </ion-col>
        <ion-col> Role Count: {{ totalRoles }} </ion-col>
        <ion-col size="2">
          <ion-input label="Mafia:" type="number" placeholder="1" [ngModel]="mafiaNo"
            (ngModelChange)="onChangePlayerNo($event, 'Mafia')"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input label="Villagers:" type="number" placeholder="1" [ngModel]="villagerNo"
            (ngModelChange)="onChangePlayerNo($event, 'Villager')"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip *ngFor="let role of allRolesArray" (click)="roleClick(role.name)"
            [color]="role.players > 0 ? 'success' : 'danger'">
            {{ role.name }}
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row *ngFor="let user of users">
            <ion-col>
              {{ user.name }}
            </ion-col>
            <ion-col>
              <ion-button (click)="deleteUser(user.name)" color="danger">Remove Player</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="newUserName" label="Name"></ion-input>
            </ion-col>
            <ion-col>
              <ion-button (click)="addUser()" color="success">Add Player</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="onStartClick()" color="success">Start Game</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="gameState === 'Set Roles'">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let user of users">
          <ion-row>
            {{ user.name }}
          </ion-row>
          <ion-row style="font-size: 100px" [ngStyle]="{ color: user.card.color }">
            {{ user.card.char }}
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="onRolesSet()" color="success">Finished</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="gameState === 'Night'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Round: {{ round }}</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let role of nightRolesArray">
        <ion-col *ngIf="role.players > 0 && role.wakeUp">
          <ion-row class="night-row" *ngIf="role.name === 'Doppelganger' && round !== 1">
            <ion-col size="6">
              <p>Doppelganger - {{ doppelgangerRole.name }}</p>

              <p>{{ doppelgangerRole.description }}</p>
              <p style="color: purple">{{ role.adminInfo }}</p>
            </ion-col>
            <ion-col *ngIf="!role.isAwake" size="2">
              <ion-button [disabled]="roleIsAwake" (click)="wakeRole(role.name)"
                [color]="role.hasWokenUp ? 'danger' : 'secondary'">Wake Doppelganger - {{ doppelgangerRole.name
                }}</ion-button>
            </ion-col>
            <ion-col *ngIf="role.isAwake">
              <ion-button (click)="sleepRole(role.name)" color="warning">Sleep</ion-button>
            </ion-col>
            <ion-col *ngIf="role.isAwake">
              <select [(ngModel)]="selectedUsers[role.name].user1" name="{{ role.name }}_user1">
                <ng-container *ngFor="let user of users">
                  <option
                    *ngIf="(user.lives > 0 && doppelgangerRole.roleUserType === 'living') || (user.lives < 1 && doppelgangerRole.roleUserType === 'dead') || doppelgangerRole.roleUserType === 'all'"
                    [value]="user.name">
                    {{ user.name }}
                  </option>
                </ng-container>
              </select>

              <select *ngIf="doppelgangerRole.requiresTwoUsers" [(ngModel)]="selectedUsers[role.name].user2"
                name="{{ role.name }}_user2">
                <ng-container *ngFor="let user of users">
                  <option *ngIf="(user.lives > 0 && doppelgangerRole.roleUserType === 'living')" [value]="user.name">
                    {{ user.name }}
                  </option>
                </ng-container>
              </select>

              <ion-button (click)="saveTurn(role.name, selectedUsers[role.name])" color="success">
                Save
              </ion-button>
              <span *ngIf="role.actionPerformed">✅</span>
            </ion-col>
          </ion-row>
          <ion-row class="night-row" *ngIf="(role.name !== 'Doppelganger' || round === 1)">
            <ion-col size="6">
              <p>{{ role.name }}</p>

              <p>{{ role.description }}</p>
              <p style="color: purple">{{ role.adminInfo }}</p>
            </ion-col>
            <ion-col *ngIf="!role.isAwake" size="2">
              <ion-button [disabled]="roleIsAwake" (click)="wakeRole(role.name)"
                [color]="role.hasWokenUp ? 'danger' : 'secondary'">Wake {{ role.name }}</ion-button>
            </ion-col>
            <ion-col *ngIf="role.isAwake">
              <ion-button (click)="sleepRole(role.name)" color="warning">Sleep</ion-button>
            </ion-col>
            <ion-col *ngIf="role.isAwake">
              <select [(ngModel)]="selectedUsers[role.name].user1" name="{{ role.name }}_user1">
                <ng-container *ngFor="let user of users">
                  <option
                    *ngIf="(user.lives > 0 && role.roleUserType === 'living') || (user.lives < 1 && role.roleUserType === 'dead') || role.roleUserType === 'all'"
                    [value]="user.name">
                    {{ user.name }}
                  </option>
                </ng-container>
              </select>

              <select *ngIf="role.requiresTwoUsers" [(ngModel)]="selectedUsers[role.name].user2"
                name="{{ role.name }}_user2">
                <ng-container *ngFor="let user of users">
                  <option *ngIf="(user.lives > 0 && role.roleUserType === 'living')" [value]="user.name">
                    {{ user.name }}
                  </option>
                </ng-container>
              </select>

              <ion-button (click)="saveTurn(role.name, selectedUsers[role.name])" color="success">
                Save
              </ion-button>
              <span *ngIf="role.actionPerformed">✅</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="calculateResult()" color="success">Complete Night</ion-button>
        </ion-col>
      </ion-row>

      <comp-user-playing-card [users]="users">
      </comp-user-playing-card>
    </ion-grid>
  </div>

  <div *ngIf="gameState === 'Story'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Round: {{ round }}</h2>
        </ion-col>
      </ion-row>
      <p>Mafia Killed: {{mafiaKilled}}</p>
      <p *ngIf="doctorSaved">Doctor Saved: {{doctorSaved}}</p>
      <p *ngIf="cupidConnected[0]">Cupid coupled: {{cupidConnected[0]}} and {{cupidConnected[1]}}</p>
      <p *ngIf="doppelgangerAction">Doppelganger: {{doppelgangerAction}}</p>
      <p *ngIf="sniperShot">Sniper shot: {{sniperShot}}</p>
      <p *ngIf="altruistResurrected">Altruist Resurrected: {{altruistResurrected}}</p>
      <p *ngIf="taxiDriverBlocks">Taxi Driver: {{taxiDriverBlocks}}</p>
      <p *ngIf="!gamblerAlive">Gambler {{gamblerName}} died</p>
      <ion-row>
        <ion-col>
          <ion-button (click)="beginTrial()" color="success">Continue to Trial</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="gameState === 'Trial'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Round: {{ round }}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="mayorUser.lives > 0">
          <ion-row>
            {{ mayorUser.name }} is the Mayor, they get two votes and will tie
            break
          </ion-row>
          <ion-row style="font-size: 100px" [ngStyle]="{ color: mayorUser.card.color }">
            {{ mayorUser.card.char }}
          </ion-row>
          <ion-row>
            {{ mayorUser.role.name }}
          </ion-row>
        </ion-col>
        <ion-col *ngIf="mayorUser.lives < 1"> Mayor is dead </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <select [(ngModel)]="votedUser">
            <ng-container *ngFor="let user of users">
              <option *ngIf="user.lives > 0" [value]="user.name">
                {{ user.name }}
              </option>
            </ng-container>
          </select>
          <ion-button (click)="voteOut()" color="success">Vote Out</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="gameState === 'Trial Complete'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Round: {{ round }}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="nextRound()" color="success">Begin rount {{ round + 1 }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>