
.test-gif {
    width: 70%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

.content {
    text-align: center;
}

.role-title {
    font-size: 70px;
    font-weight: bold;
}

.role-description {
    font-size: 50px
}

.role-text {
    font-size: 30px
}